<h2 mat-dialog-title>New Project</h2><h5 class="warning-message">{{message}}</h5>
<mat-dialog-content>
  <div class="dialog_content">
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input matInput placeholder="Enter the title" formControlName="title" required/>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </form>
      <input type="file" id="file" #file accept="image/png, image/jpeg" (change)="preview(file.files)" class="file-btn" />
      <label for="file">Choose a file</label>
      <img id="blah" *ngIf="imageSrc" [src]="imageSrc" alt="your image" class="image"/>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="createProject()" [disabled]="!formGroup.get('title').value">Yes</button>
</mat-dialog-actions>
