<div style="height:1vh" class="calendar-mat">
<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="3" [rowspan]="1" class="calendar-tile" >
    <div class="calendar-detail">
      <h2> {{project.projectName}}</h2>
      <span>{{project.description}}</span>
      <mat-form-field>
        <textarea matInput placeholder="Record something" [formControl]="comment"></textarea>
      </mat-form-field>
      <button mat-fab color="accent" (click)="checkItem()">Check</button>
      <div id="calendar"></div>
    </div>
  </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1" >
      <div class="calendar-date">
        <h5>Today : {{date}} </h5>
        <span *ngIf="todayItem.checked">Checked</span>
        <span *ngIf="!todayItem.checked">Unchecked</span>
      </div>
    </mat-grid-tile>
</mat-grid-list>
</div>
