<div style="height:1vh" class="calendar-mat">
<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="3" [rowspan]="1" class="calendar-tile" >
    <div class="calendar-detail">
      <h1> {{project.projectName}}</h1>
      <span>{{project.description}}</span>
      <mat-form-field>
        <textarea matInput placeholder="Record something" [formControl]="comment"></textarea>
      </mat-form-field>
      <button mat-fab color="accent">Check</button>
    </div>
  </mat-grid-tile>
  <div class="calendar-date">
    <mat-grid-tile [rowspan]="2" [colspan]="1" >
    <div>Today is : {{date}}</div>
      <div>status</div>
    </mat-grid-tile>
  </div>
  <mat-grid-tile [rowspan]="1" [colspan]="3" >
    <div id="calendar"></div>
  </mat-grid-tile>
</mat-grid-list>
</div>
