.main-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
}
.mat-card{
  width: 20%;
  margin: auto;
}

.btn{
  margin: 1rem 2rem 1rem;
}

mat-card.mat-card.mat-card{
  margin-top: 20px;
  padding-top: 6px;
}

mat-card-content.mat-card-content {
  margin-top: 4px;
}

.mat-card-title{
  font-weight: inherit;
  color: #666565db;
  line-height: 1.5;
}
.right-btn{
  float: right;
}

mat-card-header.mat-card-header{
  justify-content: space-between;
}

button.right-btn.mat-button{
  margin-bottom: 1em;
}